<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-usbfilesmanager"
    version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>USBFilesManager</name>
    <js-module name="USBFilesManager" src="www/USBFilesManager.js">
        <clobbers target="cordova.plugins.USBFilesManager" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="USBFilesManager">
                <param name="android-package"
                    value="cordova.plugin.usbfilesmanager.USBFilesManager" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/USBFilesManager.java"
            target-dir="src/cordova/plugin/usbfilesmanager/USBFilesManager" />
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
            <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
        </config-file>
    </platform>
</plugin>